{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body style="background-color: aquamarine;">
    <h1>Welcome in home page.....</h1>
    <p>Msg is {{greet}}</p>
    <p>{{x}}</p>
    <p>{{y}}</p>
    {% if x > y %}
        <p>{{x}} is greater</p>
    {% else %}
        <p>{{y}} is greater</p>
    {% endif %}
<p>list is {{l}}</p>
    {% for x in l %}
        <p>{{x}}</p>
    {% endfor %}    

    <button onclick="demo()">click here</button><br><br>

    <img src="{% static 'images/hp.jpeg' %}">
</body>
</html>

